/* h1{
    background-color: aqua;
    color: brown;
}
/* h3{
    background-color: chartreuse;
    color: black;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
button{
    background-color: chocolate;
    color: rgb(27, 13, 20);
}*/
/* p{
    background-color: cornflowerblue;
    color: black;
} 

.headings{
    background-color: chartreuse;
}  */

/* li{
    visibility: hidden;
}
*/
.para{
    
    background-color: aqua;
}

/* .newClass{
    color: red;
} */